body {
    height: 100%;
    font-family: 'Inter',sans-serif;
    background-image: url('../images/bg4.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
}

.elements_Container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
   
}

.brand img {
   margin-left:30%;
    width: 50%;
}
.brand-forgetPassword img{
    width:50%;
    margin-left:21.2%;
}
.password-container {
    position: relative !important;
}

.password-icon {
    position: absolute;
    top: 8px;
    right: 15px;
    cursor: pointer;
    color: dimgrey;
}
.hide {
    visibility: hidden;

}

.login-container {
   /* flex: 1;*/
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 50px;
}
.passwordReset-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 50px;
    width:30%;
    height:40%;
}
.login-form {
    padding: 60px;
    max-width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.passwordReset-form{
   width:80%;
}
.Username-reset {
    width:100%;
}
form{
    margin:20px;
}
    .login-form h2 {
        margin-bottom: 30px;
        color: #333;
        text-align: center;
        font-weight: bold;
    }
.passwordReset-form h2 {
    padding-left: 0%;
    padding-top: 0%;
    color: #333;
    text-align: center;
    font-weight: bold;
}
.reset-Description {
    font-size: 13px;
    text-align: center;
    margin-bottom: 30px;
    margin-top: -10px;
    
}
.btn-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 30px;
    margin-top: 30px;
    
}

.form-group {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

    .form-group input {
        width: 100%;
        padding: 8px;
        border: 1px solid #ddd;
        border-radius: 4px;
        box-sizing: border-box;
    }

    .form-group a.forgot-password {
        text-decoration: none;
        color: #333;
        font-size: 0.9em;
        float: right;
        margin-bottom: 10px;
        margin-top: -5px;
        margin-left: 300px;
    }

        .form-group a.forgot-password:hover {
            text-decoration: underline;
        }
       

    .form-group button {
        width: 100%;
        padding: 10px 25px;
        border: none;
        border-radius: 5px;
        color: white;
        font-size: 1em;
        cursor: pointer;
        margin: 0; 
        
    }

.submit:hover {
    background: #0056b3;
}
.SignIn:hover {
    background: #0056b3;
}
.submit {
    background: #007bff;
}
.cancel {
    background: #E0E0E0;
}

.SignIn {
    background: #007bff;
}

@media only screen and (max-width: 768px) {
    .elements_Container {
        flex-direction: column;
    }
    .brand{
        display:flex;
        justify-content:center;
    }
    .brand img {
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
}

@media only screen and (max-width: 600px) {
    .form-group a.forgot-password {
        margin-left: 0; 
}

}@media only screen and (max-width:1200px){
    .form-group button {
        width: 100%;
        padding: 15px;
        border: none;
        border-radius: 5px;
        font-size: 0.7em;
        cursor: pointer;

    }
 }